# Date Limite

In [0]:
%sql
USE CATALOG dad_open_data;
USE SCHEMA time;

In [0]:
%sql
-- Create the special_dates table
CREATE OR REPLACE TABLE dad_open_data.time.special_dates (
  era               STRING,
  dt                DATE,
  iso_date          STRING,
  millennium        INT,
  century           INT,
  century_name      STRING,
  decade            INT,
  year_num          INT,
  quarter           INT,
  quarter_name      STRING,
  season_num        INT,
  season_name       STRING,
  month_num         INT,
  month_name        STRING,
  week_num          INT,
  week_name         STRING,
  day_num           INT,
  day_name          STRING,
  year_month        INT,
  year_month_day    INT,
  flg_leap_year     BOOLEAN,
  flg_weekend       BOOLEAN,
  description       STRING
);

-- Insert the six special dates
INSERT INTO dad_open_data.time.special_dates
SELECT
  CASE WHEN year(dt) <= 0 THEN 'BCE' ELSE 'CE' END                                            AS era,
  dt                                                                                         AS dt,
  CAST(dt AS STRING)                                                                         AS iso_date,
  CASE
    WHEN year(dt) >= 1 THEN FLOOR((year(dt) - 1) / 1000) + 1
    ELSE -FLOOR(ABS(year(dt)) / 1000)
  END                                                                                         AS millennium,
  CASE
    WHEN year(dt) >= 1 THEN FLOOR((year(dt) - 1) / 100) + 1
    ELSE -FLOOR(ABS(year(dt)) / 100)
  END                                                                                         AS century,
  CONCAT(CAST(
    CASE
      WHEN year(dt) >= 1 THEN FLOOR((year(dt) - 1) / 100) + 1
      ELSE -FLOOR(ABS(year(dt)) / 100)
    END AS STRING), ' Century')                                                               AS century_name,
  FLOOR(year(dt) / 10) * 10                                                                  AS decade,
  year(dt)                                                                                   AS year_num,
  quarter(dt)                                                                                AS quarter,
  CONCAT('Q', CAST(quarter(dt) AS STRING))                                                   AS quarter_name,
  CASE
    WHEN (month(dt) = 12 AND day(dt) >= 21) OR (month(dt) IN (1,2)) OR (month(dt) = 3 AND day(dt) < 20) THEN 1
    WHEN (month(dt) = 3 AND day(dt) >= 20) OR (month(dt) IN (4,5)) OR (month(dt) = 6 AND day(dt) < 21) THEN 2
    WHEN (month(dt) = 6 AND day(dt) >= 21) OR (month(dt) IN (7,8)) OR (month(dt) = 9 AND day(dt) < 22) THEN 3
    ELSE 4
  END                                                                                         AS season_num,
  CASE
    WHEN (month(dt) = 12 AND day(dt) >= 21) OR (month(dt) IN (1,2)) OR (month(dt) = 3 AND day(dt) < 20) THEN 'Winter'
    WHEN (month(dt) = 3 AND day(dt) >= 20) OR (month(dt) IN (4,5)) OR (month(dt) = 6 AND day(dt) < 21) THEN 'Spring'
    WHEN (month(dt) = 6 AND day(dt) >= 21) OR (month(dt) IN (7,8)) OR (month(dt) = 9 AND day(dt) < 22) THEN 'Summer'
    ELSE 'Autumn'
  END                                                                                         AS season_name,
  month(dt)                                                                                  AS month_num,
  date_format(dt, 'MMMM')                                                                    AS month_name,
  weekofyear(dt)                                                                             AS week_num,
  CONCAT('Week ', CAST(weekofyear(dt) AS STRING))                                            AS week_name,
  day(dt)                                                                                    AS day_num,
  date_format(dt, 'EEEE')                                                                    AS day_name,
  year(dt) * 100 + month(dt)                                                                 AS year_month,
  year(dt) * 10000 + month(dt) * 100 + day(dt)                                               AS year_month_day,
  CASE
    WHEN (year(dt) % 4 = 0 AND year(dt) % 100 != 0) OR (year(dt) % 400 = 0) THEN TRUE
    ELSE FALSE
  END                                                                                         AS flg_leap_year,
  CASE WHEN dayofweek(dt) IN (1,7) THEN TRUE ELSE FALSE END                                 AS flg_weekend,
  description                                                                                AS description
FROM (
  SELECT DATE'-3999-01-01'   AS dt, 'Minimum supported date'                     AS description UNION ALL
  SELECT DATE'0000-12-31'    AS dt, 'Last day before the birth of Christ'      AS description UNION ALL
  SELECT DATE'0001-01-01'    AS dt, 'Birth of Christ (day 1 CE)'               AS description UNION ALL
  SELECT DATE'0001-01-02'    AS dt, 'First day after the birth of Christ'      AS description UNION ALL
  SELECT CURRENT_DATE()      AS dt, 'Today'                                    AS description UNION ALL
  SELECT DATE'2100-12-31'    AS dt, 'Maximum supported date'                   AS description
) AS src;

In [0]:
%sql
select description, * 
from special_dates
order by dt asc

#Tutte le date

In [0]:
%sql
-- Create the special_dates table
CREATE OR REPLACE TABLE dad_open_data.time.dates (
  era               STRING,
  dt                DATE,
  iso_date          STRING,
  millennium        INT,
  century           INT,
  century_name      STRING,
  decade            INT,
  year_num          INT,
  quarter           INT,
  quarter_name      STRING,
  season_num        INT,
  season_name       STRING,
  month_num         INT,
  month_name        STRING,
  week_num          INT,
  week_name         STRING,
  day_num           INT,
  day_name          STRING,
  year_month        INT,
  year_month_day    INT,
  flg_leap_year     BOOLEAN,
  flg_weekend       BOOLEAN,
  description       STRING
);

-- Insert all dates from 3999 BCE to 2100 CE, preserving the six original descriptions
INSERT INTO dad_open_data.time.dates
WITH
  -- all dates in the required range
  all_dates AS (
    SELECT explode(
             sequence(
               to_date('-3999-01-01'),      -- 3999 BCE
               to_date('2100-12-31'),       -- 2100 CE
               interval 1 day
             )
           ) AS dt
  ),
  -- the six special dates with their descriptions
  special_desc AS (
    SELECT DATE'-3999-01-01' AS dt, 'Minimum supported date'                     AS description UNION ALL
    SELECT DATE'0000-12-31'  AS dt, 'Last day before the birth of Christ'      AS description UNION ALL
    SELECT DATE'0001-01-01'  AS dt, 'Birth of Christ (day 1 CE)'               AS description UNION ALL
    SELECT DATE'0001-01-02'  AS dt, 'First day after the birth of Christ'      AS description UNION ALL
    SELECT CURRENT_DATE()   AS dt, 'Today'                                    AS description UNION ALL
    SELECT DATE'2100-12-31' AS dt, 'Maximum supported date'                   AS description
  )
SELECT
  CASE WHEN year(a.dt) <= 0 THEN 'BCE' ELSE 'CE' END                                            AS era,
  a.dt                                                                                         AS dt,
  CAST(a.dt AS STRING)                                                                         AS iso_date,
  CASE
    WHEN year(a.dt) >= 1 THEN FLOOR((year(a.dt) - 1) / 1000) + 1
    ELSE -FLOOR(ABS(year(a.dt)) / 1000)
  END                                                                                         AS millennium,
  CASE
    WHEN year(a.dt) >= 1 THEN FLOOR((year(a.dt) - 1) / 100) + 1
    ELSE -FLOOR(ABS(year(a.dt)) / 100)
  END                                                                                         AS century,
  CONCAT(CAST(
    CASE
      WHEN year(a.dt) >= 1 THEN FLOOR((year(a.dt) - 1) / 100) + 1
      ELSE -FLOOR(ABS(year(a.dt)) / 100)
    END AS STRING), ' Century')                                                               AS century_name,
  FLOOR(year(a.dt) / 10) * 10                                                                  AS decade,
  year(a.dt)                                                                                   AS year_num,
  quarter(a.dt)                                                                                AS quarter,
  CONCAT('Q', CAST(quarter(a.dt) AS STRING))                                                   AS quarter_name,
  CASE
    WHEN (month(a.dt) = 12 AND day(a.dt) >= 21) OR (month(a.dt) IN (1,2)) OR (month(a.dt) = 3 AND day(a.dt) < 20) THEN 1
    WHEN (month(a.dt) = 3 AND day(a.dt) >= 20) OR (month(a.dt) IN (4,5)) OR (month(a.dt) = 6 AND day(a.dt) < 21) THEN 2
    WHEN (month(a.dt) = 6 AND day(a.dt) >= 21) OR (month(a.dt) IN (7,8)) OR (month(a.dt) = 9 AND day(a.dt) < 22) THEN 3
    ELSE 4
  END                                                                                         AS season_num,
  CASE
    WHEN (month(a.dt) = 12 AND day(a.dt) >= 21) OR (month(a.dt) IN (1,2)) OR (month(a.dt) = 3 AND day(a.dt) < 20) THEN 'Winter'
    WHEN (month(a.dt) = 3 AND day(a.dt) >= 20) OR (month(a.dt) IN (4,5)) OR (month(a.dt) = 6 AND day(a.dt) < 21) THEN 'Spring'
    WHEN (month(a.dt) = 6 AND day(a.dt) >= 21) OR (month(a.dt) IN (7,8)) OR (month(a.dt) = 9 AND day(a.dt) < 22) THEN 'Summer'
    ELSE 'Autumn'
  END                                                                                         AS season_name,
  month(a.dt)                                                                                  AS month_num,
  date_format(a.dt, 'MMMM')                                                                    AS month_name,
  weekofyear(a.dt)                                                                             AS week_num,
  CONCAT('Week ', CAST(weekofyear(a.dt) AS STRING))                                            AS week_name,
  day(a.dt)                                                                                    AS day_num,
  date_format(a.dt, 'EEEE')                                                                    AS day_name,
  year(a.dt) * 100 + month(a.dt)                                                               AS year_month,
  year(a.dt) * 10000 + month(a.dt) * 100 + day(a.dt)                                           AS year_month_day,
  CASE
    WHEN (year(a.dt) % 4 = 0 AND year(a.dt) % 100 != 0) OR (year(a.dt) % 400 = 0) THEN TRUE
    ELSE FALSE
  END                                                                                         AS flg_leap_year,
  CASE WHEN dayofweek(a.dt) IN (1,7) THEN TRUE ELSE FALSE END                                 AS flg_weekend,
  d.description                                                                                AS description
FROM all_dates a
LEFT JOIN special_desc d
  ON a.dt = d.dt;

In [0]:
%sql
SELECT description, *
FROM dates
WHERE year_num = YEAR(CURRENT_DATE())
ORDER BY dt DESC